.cover {
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    background-image: url(/images/cover-trains.jpg);
    background-size: cover;
    background-position: center center;
}
.cover::before {
    position: absolute;
    top: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s linear;
    content: '';
    z-index: 0;
}
.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}
@media screen and (max-width: 460px) {
    .cover {
        min-height: 287px;
    }
}
@media screen and (max-width: 375px) {
    .cover {
        min-height: 200px;
    }
}
